<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form method="post" action="{{ url_for('register') }}">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="password" name="confirm_password" required>
        <br>
        <button type="submit">Register</button>
    </form>
    <a href="{{ url_for('login') }}">¿Tienes cuenta? Ingresa aquí</a>
</body>
</html>
