/*TABLAS*/
table {
  background-color: white;
  text-align: left;
  border-collapse: collapse;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  padding: 20px;
}

thead {
  background-color: #CD0E0E;
  border-bottom: solid 5px #A52727;
  color: white;
}

tr:nth-child(even) {
  background-color: #ddd;
}

tr:hover td {
  background-color: #C06D6D;
  color: white;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajusta la altura según tus necesidades */
}

.enlace-tabla {
  color: black; /* Cambia el color a tu elección */
}